.kdev4
autom4te.cache
Makefile
config.h
config.log
config.status
dialback/.deps/
dialback/.libs/
dialback/Makefile
dialback/dialback.lo
dialback/dialback_in.lo
dialback/dialback_out.lo
dialback/libjabberddialback.la
dnsrv/.deps/
dnsrv/.libs/
dnsrv/Makefile
dnsrv/dnsrv.lo
dnsrv/libjabberddnsrv.la
dnsrv/srv_resolv.lo
jabber.xml.dist
jabberd/.deps/
jabberd/.libs/
jabberd/Makefile
jabberd/acl.lo
jabberd/base/.deps/
jabberd/base/.libs/
jabberd/base/Makefile
jabberd/base/base.lo
jabberd/base/base_accept.lo
jabberd/base/base_connect.lo
jabberd/base/base_dir.lo
jabberd/base/base_file.lo
jabberd/base/base_format.lo
jabberd/base/base_importspool.lo
jabberd/base/base_load.lo
jabberd/base/base_null.lo
jabberd/base/base_stderr.lo
jabberd/base/base_stdout.lo
jabberd/base/base_syslog.lo
jabberd/base/base_to.lo
jabberd/base/base_unsubscribe.lo
jabberd/base/libjabberdbase.la
jabberd/config.lo
jabberd/deliver.lo
jabberd/gcrypt_init.lo
jabberd/heartbeat.lo
jabberd/jabberd
jabberd/jabberd.o
jabberd/lib/.deps/
jabberd/lib/.libs/
jabberd/lib/Makefile
jabberd/lib/base64.lo
jabberd/lib/crc32.lo
jabberd/lib/expat.lo
jabberd/lib/hash.lo
jabberd/lib/hmac.lo
jabberd/lib/jid.lo
jabberd/lib/jpacket.lo
jabberd/lib/jutil.lo
jabberd/lib/karma.lo
jabberd/lib/libjabberdlib.la
jabberd/lib/messages.lo
jabberd/lib/pool.lo
jabberd/lib/rate.lo
jabberd/lib/socket.lo
jabberd/lib/str.lo
jabberd/lib/xhash.lo
jabberd/lib/xmlnode.lo
jabberd/lib/xstream.lo
jabberd/libjabberd.la
jabberd/log.lo
jabberd/mio.lo
jabberd/mio_raw.lo
jabberd/mio_tls.lo
jabberd/mio_xml.lo
jabberd/mtq.lo
jabberd/subjectAltName_asn1_tab.lo
jabberd/xdb.lo
jsm/.deps/
jsm/.libs/
jsm/Makefile
jsm/authreg.lo
jsm/deliver.lo
jsm/jsm.lo
jsm/libjabberdsm.la
jsm/modules.lo
jsm/modules/.deps/
jsm/modules/.libs/
jsm/modules/Makefile
jsm/modules/libjabberdsmmods.la
jsm/modules/mod_admin.lo
jsm/modules/mod_agents.lo
jsm/modules/mod_announce.lo
jsm/modules/mod_auth_crypt.lo
jsm/modules/mod_auth_digest.lo
jsm/modules/mod_auth_plain.lo
jsm/modules/mod_browse.lo
jsm/modules/mod_disco.lo
jsm/modules/mod_echo.lo
jsm/modules/mod_example.lo
jsm/modules/mod_last.lo
jsm/modules/mod_log.lo
jsm/modules/mod_offline.lo
jsm/modules/mod_ping.lo
jsm/modules/mod_presence.lo
jsm/modules/mod_privacy.lo
jsm/modules/mod_register.lo
jsm/modules/mod_roster.lo
jsm/modules/mod_stat.lo
jsm/modules/mod_time.lo
jsm/modules/mod_useridpolicy.lo
jsm/modules/mod_vcard.lo
jsm/modules/mod_version.lo
jsm/modules/mod_xml.lo
jsm/offline.lo
jsm/serialization.lo
jsm/server.lo
jsm/sessions.lo
jsm/users.lo
jsm/util.lo
libtool
man/Makefile
man/jabber.xml.5
man/jabberd.8
po/Makefile
pthsock/.deps/
pthsock/.libs/
pthsock/Makefile
pthsock/client.lo
pthsock/libjabberdpthsock.la
stamp-h1
xdb_file/.deps/
xdb_file/.libs/
xdb_file/Makefile
xdb_file/libjabberdxdbfile.la
xdb_file/xdb_file.lo
xdb_file/xdbfiletool
xdb_file/xdbfiletool.o
xdb_sql/.deps/
xdb_sql/.libs/
xdb_sql/Makefile
xdb_sql/libjabberdxdbsql.la
xdb_sql/xdb_sql.lo
xmpp.kdev4
